---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Card from '../components/Card.astro';
import logo from '../logo.svg';
import Layout from '../layouts/Layout.astro';
import '@fontsource/permanent-marker';
import '@fontsource/blackout-two-am';
import '@fontsource/frijole';
import '@fontsource/rubik-burned';
import '@fontsource/monoton';
import '@fontsource/beth-ellen';
import '@fontsource/rock-salt';

//import CMS from 'decap-cms-app'
// Initialize the CMS object
//CMS.init()
// Now the registry is available via the CMS object.
//CMS.registerPreviewTemplate('my-template', MyTemplate)
---



<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js">
			function changeWidth() {
				console.log('Button clicked');  // This will log when the button is clicked
				const gradientBlurDiv = document.getElementById('blur');
				console.log('gradientBlurDiv:', gradientBlurDiv);  // This will log the selected element
				if (gradientBlurDiv) {
				gradientBlurDiv.style.transform = 'translateX(-100%)';
				}
			}
		</script>
	</head>
	<body class=" bg-gradient-to-br from-black to-brown bg-cover w-full overflow-x-hidden">
		<Header title={SITE_TITLE} />
		<Layout title={SITE_TITLE} >
		<main >
			<div class="flex flex-col items-center ">
				<div class="h-[calc(100dvh)] flex flex-col items-center">
					<img src="/backdrop.jpg" class=" w-full h-full overflow-hidden absolute z-0 top-0 object-cover" />
					<div class="w-full h-full overflow-hidden absolute z-10 top-0 object-cover black-grad" />
					<div class=" w-full h-full overflow-hidden absolute z-20 top-0 bg-cover" />
					<div id="blur" class="gradient-blur left-0 top-0 z-30 w-full sm:w-[35vw] sm:min-w-[30rem] h-[calc(100dvh)] absolute flex flex-row pl-10 flex-wrap sm:flex-nowrap rounded-xl">
						<div class="flex flex-col">
							<h1 class="w-full border-t border-b border-white text-white mt-36 font-serif text-7xl z-30 sm:text-8xl md:text-8xl">Vic</h1>
							<span class="text-right text-8xl z-30 font-serif bg-clip-text text-transparent text-white bg-gradient-to-br from-amber-500 via-red-500 to-brown">Records</span>
							<div class="w-full border-t border-white z-30" />
							<div class="flex flex-row mt-5 m-auto">
								{/*<img src="/logo.png" class="w-[16rem] z-50">*/}
								<div class="flex flex-col flex-wrap min-w-[5rem] w-full z-50">
									<p class="font-bold text-4xl pt-4 pb-0 mb-[7px]">
										Vic Records is the home of all things music at Victoria College.
									</p>
									<p class="text-xl">
										Whether a musician or a fan of music, Vic Records offers everyone an opportunity to experience the future of music. Contact us to get involved in future events. We would love to have you!
									</p>
								</div>
							</div>
						</div>
						<button id="drawer" class="w-[7.6rem] z-30 m-auto">
							<svg id='arrow' class="w-8 hover:w-[2.2rem] transition-all" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="arrow" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7071 4.29289C16.0976 4.68342 16.0976 5.31658 15.7071 5.70711L9.41421 12L15.7071 18.2929C16.0976 18.6834 16.0976 19.3166 15.7071 19.7071C15.3166 20.0976 14.6834 20.0976 14.2929 19.7071L7.29289 12.7071C7.10536 12.5196 7 12.2652 7 12C7 11.7348 7.10536 11.4804 7.29289 11.2929L14.2929 4.29289C14.6834 3.90237 15.3166 3.90237 15.7071 4.29289Z" fill="#ffffff"></path> </g></svg>
						</button>
					</div>
					<button id="drawer2" class="rotate-180 border w-[2.5rem] z-10 left-0 top-0  absolute content-center">
						<svg class="w-8 hover:w-[2.2rem] transition-all" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7071 4.29289C16.0976 4.68342 16.0976 5.31658 15.7071 5.70711L9.41421 12L15.7071 18.2929C16.0976 18.6834 16.0976 19.3166 15.7071 19.7071C15.3166 20.0976 14.6834 20.0976 14.2929 19.7071L7.29289 12.7071C7.10536 12.5196 7 12.2652 7 12C7 11.7348 7.10536 11.4804 7.29289 11.2929L14.2929 4.29289C14.6834 3.90237 15.3166 3.90237 15.7071 4.29289Z" fill="#ffffff"></path> </g></svg>
					</button>
					{/*<svg xmlns="http://www.w3.org/2000/svg" width="1288" height="136" viewBox="0 0 1288 232" fill="none" class="absolute z-20 mt-[6rem]" opacity="0.5">
						<path d="M19 210C57.5 146 95 90 153 1H1286.5L1142 210H19Z" fill="black"/>
						<path d="M1138 216.5H14.5L2 231.5H1123.5L1138 216.5Z" fill="black"/>
						<path d="M19 210C57.5 146 95 90 153 1H1286.5L1142 210H19Z" stroke="black"/>
						<path d="M1138 216.5H14.5L2 231.5H1123.5L1138 216.5Z" stroke="black"/>
					</svg>*/}
					{/*<p class="italic z-10 text-indigo-950 font-serif text-xl flex flex-row items-center mb-12">
						At
						<img src="/uoft.jpg" class="ml-3 w-[10rem]" />
					</p>*/}
					
					{/*<a class="m-auto mt-0 mb-0"><button class="border p-2 pl-4 pr-4 rounded-lg border-black border-opacity-25 hover:p-4 transition-all hover:shadow-xl hover:bg-gray-300">Explore</button></a>*/}
				</div>
				<ul role="list" class="pb-5 flex flex-row flex-wrap justify-center w-[100vw]">
					<Card
						href="https://linktr.ee/vicrecords/"
						title="Links"
						body="Explore our online presence on various platforms."
					>
						<svg class="h-full w-10"
						fill="currentColor"
						viewBox="0 0 16 16"
						>
							<path d="M4.715 6.542L3.343 7.914a3 3 0 104.243 4.243l1.828-1.829A3 3 0 008.586 5.5L8 6.086a1.002 1.002 0 00-.154.199 2 2 0 01.861 3.337L6.88 11.45a2 2 0 11-2.83-2.83l.793-.792a4.018 4.018 0 01-.128-1.287z" />
							<path d="M6.586 4.672A3 3 0 007.414 9.5l.775-.776a2 2 0 01-.896-3.346L9.12 3.55a2 2 0 112.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 10-4.243-4.243L6.586 4.672z" />
						</svg>
					</Card>
					<Card
						href="https://astro.build/integrations/"
						title="Events"
						body="We host at least one event every month. Check out our calendar for more info."
					>
						<svg class="h-full w-9 mr-1"
						fill="none"
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width={2}
						viewBox="0 0 24 24"
						>
							<path stroke="none" d="M0 0h24v24H0z" />
							<path d="M6 5 H18 A2 2 0 0 1 20 7 V19 A2 2 0 0 1 18 21 H6 A2 2 0 0 1 4 19 V7 A2 2 0 0 1 6 5 z" />
							<path d="M16 3v4M8 3v4M4 11h16M8 15h2v2H8z" />
						</svg>
					</Card>
					<Card
						href="https://astro.build/themes/"
						title="Playlists"
						body="We make collaborative playlists every month, published on the 15th."
					>
						<svg class="h-full w-10 mr-1"
						viewBox="0 0 24 24"
						fill="currentColor"
						>
							<path d="M15 6H3v2h12V6m0 4H3v2h12v-2M3 16h8v-2H3v2M17 6v8.18c-.31-.11-.65-.18-1-.18a3 3 0 00-3 3 3 3 0 003 3 3 3 0 003-3V8h3V6h-5z" />
						</svg>
					</Card>
					<Card
						href="https://astro.build/chat/"
						title="Blog"
						body="Come read our blog posts about music, events, and more."
					>
						<svg class="h-full w-9 mr-1"
							viewBox="0 0 24 24"
							fill="currentColor"
							height="1em"
							width="1em"
						>
							<path d="M12 2A10 10 0 002 12a9.89 9.89 0 002.26 6.33l-2 2a1 1 0 00-.21 1.09A1 1 0 003 22h9a10 10 0 000-20zm0 18H5.41l.93-.93a1 1 0 000-1.41A8 8 0 1112 20zm5-9H7a1 1 0 000 2h10a1 1 0 000-2zm-2 4H9a1 1 0 000 2h6a1 1 0 000-2zM9 9h6a1 1 0 000-2H9a1 1 0 000 2z" />
						</svg>
					</Card>
				</ul>
			</div>
		</main>
		</Layout>
		<Footer />
		<script>
			declare global {
				interface Window {
					netlifyIdentity: any;
				}
			}

			if (window.netlifyIdentity) {
				window.netlifyIdentity.on("init", (user:any) => {
				if (!user) {
					window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
					});
				}
				});
			}
			let isTranslated = false;
			let isRotated = false;
			const tgt = document.querySelector("#drawer");
				tgt.addEventListener("click", () => {
					console.log("Hello, on client");
					const gradientBlurDiv = document.getElementById('blur');
					if (gradientBlurDiv) {
						if (isTranslated) {
						gradientBlurDiv.style.transform = 'translateX(0)';  // If the div is already translated, move it back to its original position
						} else {
						gradientBlurDiv.style.transform = 'translateX(-93%)';  // If the div is not translated, translate it
						}
						isTranslated = !isTranslated;  // Update the translation state
					}
					const svg = document.getElementById('arrow');  // Select the SVG
					if (svg) {
						if (isRotated) {
						svg.style.transform = 'rotate(0deg)';  // If the SVG is already rotated, rotate it back to 0 degrees
						} else {
						svg.style.transform = 'rotate(180deg)';  // If the SVG is not rotated, rotate it by 180 degrees
						}
						isRotated = !isRotated;  // Update the rotation state
					}  // Toggle the 'rotate-180' class
				});
		</script>
	</body>
</html>
<style>
	.vic-font {
		font-family: 'Rock Salt', sans-serif;
	}
	.special-font {
		font-family: 'Permanent Marker', sans-serif;
	}
	.black-grad {
		background: linear-gradient(to bottom, rgba(17, 17, 17, 0.4), rgba(0,0,0,0.4));
	}

	.gradient-blur {
		box-shadow: 0 0 3rem 0 rgba(0, 0, 1, 0.5);
		transition: transform 0.3s ease-in-out;
		&:after {
			content: '';
			position: absolute;
			inset: 0%;
			background-image: linear-gradient(135deg, rgba(7, 7, 7, 0.514), rgba(255, 255, 255, 0.274));
			backdrop-filter: blur(40px);
			-webkit-mask: linear-gradient(-90deg, transparent, black 0%);
		}
	}
	.rotate-180 {
		transform: rotate(180deg);
	}

</style>