<gallery class='p-8 flex flex-col text-center'>
  <h3 class='border-b pb-5'>Event Photo Gallery</h1>
  <div class='flex flex-row mt-5'>
    <div class='flex flex-col items-center text-center pl-2 pr-2 '>
      <h5>Open Mics</h5>
      <img src="/backdrop.jpg" width="10000"/>
    </div>
    <div class='border-l' />
    <div class='flex flex-col items-center text-center pl-2 pr-2'>
      <h5>Member Socials</h5>
      <img src="/backdrop.jpg" width="10000"/>
    </div>
    <div class='border-l' />
    <div class='flex flex-col items-center text-center pl-2 pr-2'>
      <h5>Studio (On-Campus)</h5>
      <img src="/backdrop.jpg" width="10000"/>
    </div>
    <div class='border-l' />
    <div class='flex flex-col items-center text-center pl-2 pr-2'>
      <h5>Studio (Off-Campus)</h5>
      <img src="/backdrop.jpg" width="10000"/>
    </div>
  </div>
</gallery>
